h1 {
		text-align: left;
		font-family: Times;
		font-size: 40px;
		margin-left: 10%;
		margin-right: 10%; 
}

p {
		text-align: left;
		font-family: Times;
		font-size: 20px;
		margin-left: 10%;
		margin-right: 10%;
}